<div class="row">
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Schedule Settings</h5>
                                                        <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
                                                    </div>
                                                    <div class="card-block">
                                                        <form  [formGroup]="scheduleForm" class="normal-form" (submit)="onSubmit()" class="form-material">
                                                                <div class="form-group form-default">
                                                               <label >Starting Date</label>
                                                                <input type="date" data-date-format="dd/mm/yyyy" 
                                                                formControlName="StartingDate" class="form-control">
                                                                
                                                            </div>
                                                            <div class="form-group">           <label>Study Days</label><br/>   
                                                              <select formControlName="StudyWeekDays" multiple="true">
                                                                <option value="0">Friday</option>
                                                                <option value="1">Saturday</option>
                                                                <option value="2">Sunday</option>
                                                                <option value="3">Monday</option>
                                                                <option value="4">Tuesday</option>
                                                                <option value="5">Wednesday</option>
                                                                <option value="6">Thursday</option>
                                                              </select>
                                                            </div>
                                                            <div class="form-group">
                                                              <label >Sessions Per Chapter No</label>
                                                                <input type="text" formControlName="ChapterSessionsNo"class="form-control fill">
                                                               
                                                                 
                                                            </div>
                                                           <div class="form-group">
      <button type="submit" class="btn btn-default">Generate Schedule</button>&nbsp;&nbsp;
      <button class="btn" (click)="cancel()">Cancel</button>
    </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                          
                                        </div>
                                        <div class="row">
                                          <div class="col-md-12">
                                          <div class="card">
                                            <div class="card-header">
                                                <h5>Sessions List</h5><br/>
                                                <p>Total Sessions:{{TotalSessions}}</p><p>Sessions Per Chapter:{{SessionsPerChapter}}</p>
                                                  
                                            </div>
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Session Date</th>
                                                                <th>Session Day</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let session of ScheduleList">
                                                                <td>{{session.id}}</td>
                                                                <td>{{session.sessionDate}}</td>
                                                                <td>{{session.sesstionDay}}</td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                        </div>